.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal {
  display: inline-flex;
  background-color: white;
  box-shadow: 0 4px 10px rgb(0 0 0/ 15%);
  padding: 40px;
  border-radius: 20px;
}
