
.swiper-container {
    margin: 0 40px;
}

.swiper-wrapper > .swiper-slide {
    height: auto;
}

.swiper-pagination-bullet {
    background-color: white !important;
}

.banner {
    border-radius: 20px;
    height: 100%;
}

.about {
    margin-bottom: 80px;
}

.reason {
    flex-direction: row !important;
    justify-content: space-between;
}

.card-content {
    padding: 80px; 
}


.sidebanner {
    padding: 50px;
}

.sbimg {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .card-content {
        padding: 40px;
    }
    
    .sidebanner {
        padding: 0;
    }
}

@media screen and (max-width: 720px){
    .swiper-container {
        margin: 0 !important;
    }

    .banner {
        width: 100%;
        border-radius: 0;
    }

    .reason {
        flex-direction: column-reverse !important;
        align-self: center;
        row-gap: 20px;
        margin-bottom: 40px;
        text-align: center;
    }

    .card-holder {
        display: flex;
        justify-content: center;
    }

    .home-card {
        max-width: 90%;
    }

    .sidebanner {
        width: 80%;
    }

    .sidebanner, .card-content {
        padding: 0;
    }
}