@media screen and (max-width: 800px) {
  
    .container {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        text-align: center;
        justify-content:center !important ;
    }

    .card {
        margin-left: 0 !important;
        min-width: unset !important;
    }
} 

.card {
    min-width: 400px;
    margin-left: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0/ 15%);
}

.cardbody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr {
    border: 8px solid transparent;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}

.pw {
    border: 1px solid;
}
