.name {
    border-radius: 3px;
    font-size: 30px;
    text-decoration: none;
}

.logo {
    max-width: 80px;
    height: 60px;
}

.brand {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

.get-started {
    margin-right: 3em;
}

@media screen and (max-width: 480px){
    .name {
        font-size: 12px;
    }
    .brand {
        margin-left: 0;
    }
    
    .get-started {
        margin-right: 0;
    }
}
