div.decorate {
    background-color: #32aad2;
}

.name {
    border-radius: 3px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

a.pushright {
    margin-left: 3em;
}

.pushleft {
    margin-right: 3em;
}
